%form.js-question-form
  = hidden_field_tag :document_template_id, document_template&.id
  = hidden_field_tag :id, question&.id
  %label Content
  = text_field_tag 'question[content]', question&.content
  %label Tag
  = text_area_tag 'question[tag]', question&.tag

  %span.js-save_question Save
  %span.js-cancel_question Cancel