.col.col-sm-auto.m-1
  .card.p-lg-3.js-document_template{ data: { id: document_template.id } }
    .card-title.text-center.font-weight-bold
      = document_template.name

    .card-body
      %p
        = document_template.description

    .card-footer
      .btn.btn-link.js-edit_document_template Edit

      .btn.btn-link.js-manage_template_questions Manage Questions

      .btn.btn-link.js-fill_out_template Fill Out