.js-document_template{ data: { id: document_template.id } }
  %h3
    = document_template.name

  %p
    = document_template.description

  %a.js-edit_document_template{ href: '#' } Edit

  %a.js-manage_template_questions{ href: '#' } Manage Questions

  %a.js-fill_out_template{ href: '#' } Fill Out